<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reptile Care</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1> Reptile Care Guide</h1>
    

   <% species.forEach(s => { %>
    <div>
        <h2><%= s.name %></h2>
        <p>Type: <%= s.type %></p>
        <p>Difficulty: <%= s.difficulty %></p>
        <p>Lifespan: <%= s.lifespan_years %></p>
        <p>Diet: <%= s.diet %></p>
    </div>
<% }) %>
    <form action="/api/species" method="POST">

    <input type="text" name="name" placeholder="Species name">
    <input type="text" name="type" placeholder="ex lizard,snake,turtle, etc">
    <input type="text" name="diet" placeholder="ex omnivore, carnivore, etc">
    <input type="text" name="difficulty" placeholder="ex beginner, intermediate, etc">
    <input type="text" name="lifespan_years" placeholder="years">
    <input type="text" name="origin" placeholder="origin">

    <button>Submit</button>

</form>
</body>
</html>